nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333; 
    color: #ffffff; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;*/
  }
  nav .direcciones a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
  }
  nav .Titulo {
    text-align: left;
    color: #fff;
  }
  
